<h2><%= t '.title', :default => 'Sign in', :scope => :devise %></h2>

<% form_for :session, :url => session_path do |f| -%>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>
  <p class='submit'><%= f.submit t('.submit', :default => 'Sign in', :scope => :devise) %></p>
<% end -%>

<%= link_to_new_password %> | <%= link_to_new_confirmation %>
