<h2><%= t('.header', name: resource_name.to_s.humanize) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.waiting_for_text', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div><%= f.label :password %> <i><%= t('.optional_password_change_info')%></i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i><%= t('.confirm_password_change_info')%></i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit t(".submit_button") %></div>
<% end %>

<h3><%= t('.cancel_account_header')%></h3>

<p><%= t('.cancel_account_reason') %><%= button_to t('.cancel_account_button'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to t(".return_link"), :back %>
