<h2><%= t '.edit_resource', :resource => resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i><%= t '.leave_blank' %></i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i><%= t '.need_current_password' %></i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit t '.update' %></div>
<% end %>

<h3><%= t '.cancel' %></h3>

<p><%= t '.unhappy' %> <%= link_to t('.cancel'), registration_path(resource_name), :data => { :confirm => t('.confirm') }, :method => :delete %>.</p>

<%= link_to t('.back'), :back %>
