<h2><%= t('devise.registrations.edit.title', resource: resource_name.to_s.humanize) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('devise.registrations.edit.awaiting_confirmation', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(<%= t('devise.registrations.edit.hints.password') %>)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%= t('devise.registrations.edit.hints.current_password') %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.registrations.edit.submit') %>
  </div>
<% end %>

<h3><%= t('devise.registrations.edit.cancel_account.title') %></h3>

<p>
  <%= t('devise.registrations.edit.cancel_account.unhappy')%> <%= button_to t('devise.registrations.edit.cancel_account.action'), registration_path(resource_name), data: { confirm: t('devise.registrations.edit.cancel_account.confirmation') }, method: :delete %>
</p>

<%= link_to t('devise.registrations.edit.back'), :back %>
