<h2> <%= t("devise.header.edit") %> <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i> <%=t ("devise.tip.leave_blank") %></i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i><%= t("devise.tip.current_password") %></i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit t("devise.submit.update") %></div>
<% end %>

<h3> <%= t("devise.header.cancel_account") %> </h3>

<p> <%= t("devise.label.unhappy") %> <%= button_to t("devise.button.cancel_account") , registration_path(resource_name), data: { confirm: t("devise.question.are_you_sure") }, method: :delete %></p>

<%= link_to t("devise.link.back"), :back %>
