<h2><%= I18n.t('devise.registrations.edit.heading', :resource => resource_name.to_s.humanize) %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :email, I18n.t('devise.registrations.edit.form.email') %><br />
    <%= f.email_field :email, :autofocus => true %>
  </div>

  <div>
    <%= f.label :password, I18n.t('devise.registrations.edit.form.password.label') %>
    <i><%= I18n.t('devise.registrations.edit.form.password.hint') %></i><br />
    <%= f.password_field :password, :autocomplete => "off" %>
  </div>

  <div>
    <%= f.label :password_confirmation, I18n.t('devise.registrations.edit.form.password_confirmation') %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.label :current_password, I18n.t('devise.registrations.edit.form.current_password.label') %>
    <i><%= I18n.t('devise.registrations.edit.form.current_password.hint') %></i><br />
    <%= f.password_field :current_password %>
  </div>

  <div><%= f.submit I18n.t('devise.registrations.edit.actions.update') %></div>
<% end %>

<h3><%= I18n.t('devise.registrations.edit.cancel_account.heading') %></h3>

<p>
  <%= raw I18n.t('devise.registrations.edit.cancel_account.description',
                 cancel_account_link:
                     link_to( I18n.t('devise.registrations.edit.cancel_account.actions.cancel_account.text'),
                              registration_path(resource_name),
                              :data => { :confirm => I18n.t('devise.registrations.edit.cancel_account.actions.cancel_account.confirmation'),
                                         :method => :delete } )) %>
</p>

<%= link_to I18n.t('devise.registrations.edit.actions.back'), :back %>