<h2><%= t('devise.registrations.edit') + ' ' + resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('devise.registrations.waiting_confirmation') %> <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(<%= t('devise.registrations.leave_blank') %>)</i><br />
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%= t('devise.registrations.current_password') %>)</i><br />
    <%= f.password_field :current_password, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.registrations.update') %>
  </div>
<% end %>

<h3><%= t('devise.registrations.cancel') %></h3>

<p><%= t('devise.registrations.unhappy') %> %><%= button_to t('devise.registrations.cancel'), registration_path(resource_name), data: { confirm: t('devise.registrations.cancel_confirm') }, method: :delete %></p>

<%= link_to t('devise.registrations.back'), :back %>
