<h2><%= t('.title', :resource => resource_class.model_name.human , :default => 'Edit #{resource_name.to_s.humanize}') %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit t('.update', :default => 'Update') %></div>
<% end %>

<h3><%= t('.cancel_my_account', :default => 'Cancel my account') %></h3>

<p><%= t('.unhappy', :default => 'Unhappy') %>? <%= button_to t('.cancel_my_account', :default => 'Cancel my account'), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => 'Are you sure?') }, :method => :delete %></p>

<%= link_to t('.back', :default => 'Back'), :back %>
