<h2><%= t('.edit') + ' ' + resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label t('devise.email') %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label t('devise.password') %> <i>(<%= t('.leave_blank_if_no_change_wanted') %>)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label t('devise.password_confirmation') %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label t('.current_password') %> <i>(<%= t('.need_current_password_to_confirm')%>)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit t('.update') %></div>
<% end %>

<h3>Cancel my account</h3>

<p><%= t('.unhappy') + ' ' + link_to t('.cancel_my_account'), registration_path(resource_name), :confirm => t('.are_you_sure'), :method => :delete %>.</p>

<%= link_to t('.back'), :back %>
