<h2>Forgot your password?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Send me reset password instructions" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>