<h2><%= t('devise.registrations.edit.title', resource: resource_name.to_s.humanize) %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p><%= t('devise.registrations.edit.awaiting_confirmation', email: resource.unconfirmed_email) %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: t('devise.registrations.edit.hints.password'), required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: t('devise.registrations.edit.hints.current_password'), required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('devise.registrations.edit.submit') %>
  </div>
<% end %>

<h3>t('devise.registrations.edit.cancel_account.title')</h3>

<p>
  <%= t('devise.registrations.edit.cancel_account.unhappy')%> <%= button_to t('devise.registrations.edit.cancel_account.action'), registration_path(resource_name), data: { confirm: t('devise.registrations.edit.cancel_account.confirmation') }, method: :delete %>
</p>

<%= link_to t('devise.registrations.edit.back'), :back %>
