<h2><%= t('.change_your_password')%></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label t('devise.password'), t('.new_password') %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label t('devise.password_confirmation'), t('.confirm_new_password') %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit t('.change_my_password') %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
