<h2>Forgot your password?</h2>

<%= form_for(resource_name, resource, :url => password_path(resource_name)) do |f| %>
  <%= f.error_messages %>

  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.submit "Send me reset password instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>