<h2><%= I18n.t('devise.passwords.title_new' %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit I18n.t('devise.passwords.title_new' %> %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>