<h2>Change your password</h2>

<% form_for resource_name, :url => password_path(resource_name), :html => { :method => :put } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :perishable_token %>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Change my password" %></p>
<% end %>

<%= link_to "Sign in", new_session_path(resource_name) %><br />

<%- if devise_mapping.allows?(:confirmations) %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>
