<h2>Change your password</h2>

<%= error_messages_for :password %>

<% form_for :password, :url => password_path, :html => { :method => :put } do |f| %>
  <%= f.hidden_field :perishable_token %>
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>
  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>
  <p class="submit"><%= f.submit "Change my password" %></p>
<% end %>

<%= link_to_sign_in %> | <%= link_to_new_confirmation %>
