<h2><%= t '.title', :default => 'Forgot password', :scope => :devise %></h2>

<% form_for resource_name, :url => password_path do |f| %>
  <%= f.error_messages %>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>
  <p class="submit"><%= f.submit t('.submit', :default => 'Send me reset password instructions', :scope => :devise) %></p>
<% end %>

<%= link_to_sign_in %> | <%= link_to_new_confirmation %>
