<h2><%= t('devise.sign_in')%></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label t('devise.email') %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label t('devise.password') %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label t('.remember_me') %></div>
  <% end -%>

  <div><%= f.submit t('devise.sign_in') %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
