<h2>Resend confirmation instructions</h2>

<% form_for resource_name, :url => confirmation_path(resource_name) do |f| %>
  <%= f.error_messages %>

  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.submit "Resend confirmation instructions" %></p>
<% end %>

<%= link_to "Sign in", new_session_path(resource_name) %><br />

<%- if devise_mapping.recoverable? %>
  <%= link_to "Forgot password?", new_password_path(resource_name) %><br />
<% end -%>
