<h2><%= t '.title', :default => 'Resend confirmation instructions', :scope => :devise %></h2>

<%= error_messages_for :confirmation %>

<% form_for :confirmation, :url => confirmation_path do |f| %>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>
  <p class="submit"><%= f.submit t('.submit', :default => 'Resend confirmation instructions', :scope => :devise) %></p>
<% end %>

<%= link_to_sign_in %> | <%= link_to_new_password %>
