<p><%= t("devise.mailer.reset_password_instructions.hello") %> <%= @resource.email %>!</p>

<p><%= t("devise.mailer.reset_password_instructions.view_message1") %></p>

<p><%= link_to t("devise.mailer.reset_password_instructions.link_text"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t("devise.mailer.reset_password_instructions.view_message2") %></p>
<p><%= t("devise.mailer.reset_password_instructions.view_message3") %></p>
