<p><%= t('devise.mailer.reset_password_instructions.greeting', :recepient => @resource.email) %></p>

<p><%= t('devise.mailer.reset_password_instructions.instruction') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.action'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.instruction_2') %></p>
<p><%= t('devise.mailer.reset_password_instructions.instruction_3') %></p>
