<p><%= t('devise.mailer.reset_password_instructions.greeting', reciever: @resource.email) %></p>

<p><%= t('devise.mailer.reset_password_instructions.information') %></p>

<p>
  <%= link_to t('devise.mailer.reset_password_instructions.change_password'), edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p><%= t('devise.mailer.reset_password_instructions.ignore_email') %></p>
<p><%= t('devise.mailer.reset_password_instructions.ignore_email_information') %></p>
