<p><%= t("devise.mailer.hello", :email => @resource.email) %></p>

<p><%= t("devise.mailer.someone_requested") %></p>

<p><%= link_to t("devise.mailer.change"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t("devise.mailer.please_ignore") %></p>
<p><%= t("devise.mailer.password_wont_change") %></p>
