<p><%= t('devise.passwords.mailer.hello', :email => @resource.email) %></p>

<p><%= t('devise.passwords.mailer.info') %></p>

<p><%= link_to t('devise.passwords.mailer.link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('devise.passwords.mailer.ignore_this_email') %></p>
<p><%= t('devise.passwords.mailer.info_password_dont_change') %></p>
