<p> <%= t(".greeting", email: @resource.email) %></p>

<p><%= t('.instruction_text') %></p>

<p><%= link_to t('.link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.ignore_text') %></p>
<p><%= t('.ensure_text') %></p>
