<p><%= t('.hello', email: @resource.email) %></p>

<p><%= t('.description') %></p>

<p><%= link_to t('.button'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.please_ignore') %></p>
<p><%= t('.password_wont_change') %></p>
