<p><%= t('devise.mailer.hello') + ' ' + @resource.email %>!</p>

<p><%= t('.change_password_through_link_below')%></p>

<p><%= link_to t('.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('.ignore_if_not_requested')%></p>
<p><%= t('.password_unchanged_unless_link_used')%></p>
